header {
    height: 100vh;
    padding-top: 15rem;
    padding-left: 2rem;
    overflow: hidden;
}

.header__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    position: relative;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: -1rem;
}

.subtitle {
    font-size: 1.3rem;
}

/* ========== RESUME ========== */
.resume {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;                             
    justify-content: left;
}

/* ========== HEADER SOCIALS ========== */
.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    top: 8.5rem;
    font-size: 1.5rem;
}

/* ========== MEDIA QUERIES (SMALL DEVICES E.G. MOBILE) ========== */
@media screen and (max-width: 1024px) {

    .header__container {
        text-align: center;
    }

    .resume {
        justify-content: center;
    }

    .header__socials {
        align-self: center;
        position: absolute;
        font-size: 2rem;
        gap: 2rem;
    }
}